body{
    background-color:white;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}
/*mode sombre du body*/
body.sombre{ 
    background-color: #4d4d4d; 
    color: #f5f7fa;
}


/* style du header*/
.container-header{
    justify-content: space-around;
    display: flex;
    width: 1231px;
    height: 40px;
    padding-top: 22px;
    padding-right: 105px;
    padding-bottom: 22px;
    padding-left: 105px;
    gap: 145px;
    background-color: #f5f7fa;
}
/*mmode sombre du header*/
body.sombre .container-header{
    background-color:#263238;
    color:#f5f7fa;
}

.container-header a{
    text-decoration: none;
    color:#263238
}

body.sombre .container-header a{
    background-color:#263238;
    color:#f5f7fa;
}

.logo-header{
    height: 24px;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.text-logo{
    font-size: 30px;
    color:#263238;
}

body.sombre .text-logo{
    color:#f5f7fa
}

.nav-header ul{
    display: flex;    
    gap: 50px;
    list-style: none;
    margin: 0%;
    padding: 0%;
    align-content: center;
}

.nav-header a{    
    height: 24px;
    top: 30px;
    left: 404.49px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    align-content: center;
}

.login-header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 14px;
    max-height: 40px;
}

.button-log{
    border:0px solid; 
    width: 77px;
    max-height: 40px;
    border-radius: 6px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    gap: 10px;
    background-color: #f5f7fa;
    color: #4caf4f;
}

.text-log{
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.button-sign{
    border:0px solid; 
    width: 91px;
    max-height: 40px;
    border-radius: 6px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    gap: 10px;
    background-color: #4caf4f;
    color:#f5f7fa;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}
/* style du bouton sombre*/
.dark-mode-switch{
    border:2px solid; 
    width: 77px;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
    background-color: #f5f7fa;
    color: #4caf4f;
    border-color: #4caf4f;
    text-align: center;
}

main{
    width: 1441px;
    height: 2011.4px;
    top: 84px;
    display: flex;
    flex-direction: column;
    gap: 42px;
}
/*style des éléments de la maquette*/
.home{
    width: 1441px;
    height: 1055px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-section{
    width: 1153px;
    height: 407px;
    padding-top: 96px;
    padding-right: 144px;
    padding-bottom: 96px;
    padding-left: 144px;
    gap:104px;
    background-color: #f5f7fa;
    display: flex;
}

body.sombre .hero-section{
    background-color:#263238;
    color:#f5f7fa;
}

.frame{ /*partie gauche*/
    width: 658px;
    height: 276px;
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 32px;
}

.top-text{ /*texte sans le bouton*/
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.text-lessons{
    width: 658px;
    height: 152px;
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    color: #4d4d4d;
    margin: 0%;
}

body.sombre .text-lessons{
    color:#f5f7fa;
}

.frame span{ /*mettre en vert le "from 8 years"*/
    color: #4caf4f;
}

.text-where{
    width: 648px;
    height: 24px;
    color:#717171;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0%;
}

body.sombre .text-where{
    color:#f5f7fa;
}

.button-register{
    border:0px solid; 
    max-width: 128px;
    max-height: 52px;
    border-radius: 4px;
    padding-top: 14px;
    padding-right: 32px;
    padding-bottom: 14px;
    padding-left: 32px;
    gap: 10px;
    background-color: #4caf4f;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.community{ /* parties textes + cards/cases*/
    width: 1440px;
    height: 416px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.comm{/* partie texte*/
    width: 1440px;
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.comm h4{
    height: 88px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #4d4d4d;
    margin: 0;
}

body.sombre .comm h4{
    color:#f5f7fa;
}

.comm p{
    height: 24px;
    color:#717171;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0%;
}

body.sombre .comm p{
    color:#f5f7fa;
}

.frame4{ /* partie qui regroupe les cases*/
    width: 1153px;
    height: 280px;
    justify-content: space-between;
    display: flex;
    padding-right: 144px;
    padding-left: 144px;
}

.case{
    width: 235px;
    height: auto;
    border-radius: 8px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
    background-color:white;
    box-shadow: 0px 2px 4px #ABBED133 ;
    text-align: center;
    gap: 8px;
}

body.sombre .case{
    color:#f5f7fa;
    background-color: #263238;
}

.top{ /*textes des cases*/
    column-gap: 8px;
    align-items: center; 
    height: 144px;
    margin-bottom: 8px;
}

body.sombre .top{
    background-color: #263238;
}

.case h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color:#4d4d4d;
    margin-top: 16px;
    margin-bottom: 0%;
}

body.sombre .case h3{
    color:#f5f7fa;
    background-color: #263238;
}

.case p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
    margin: 0px;
    width: 251px;
    text-align: center;
}

body.sombre .case p{
    color:#f5f7fa;
    background-color: #263238;
}
/* seconde partie des elements de la maquette*/
.corps{
    width: 1441px;
    height: 914.4px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.unlock{ /* premiere rubrique*/
    display: flex;
    width: 1153px;
    height: 433px;
    justify-content: space-between;
    padding-left: 144px;
    padding-right: 144px;
}

.frame-unlock{ /* partie info(textes+boutons)*/
    width: 661px;
    height: 268px;
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 32px;
}

.calendar{ /* deuxieme rubrique*/
    width: 1153px;
    height: 433.4px;
    justify-content: space-between;
    padding-right: 144px;
    padding-left:144px ;
    display: flex;
}

.frame-calendar{ /* partie info*/
    width: 661px;
    height: 308px;
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 32px;
}

.inside{ /* textes des parties info*/
    width: 601px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inside h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color:#4d4d4d;
    margin: 0%;
}

body.sombre .inside h2{
    color:#f5f7fa;
}

.inside p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color:#717171;
    margin: 0%;
}

body.sombre .inside p{
    color:#f5f7fa;
}

.button-learn{
    border:0px solid; 
    max-width: 151px;
    max-height: 52px;
    border-radius: 4px;
    padding-top: 14px;
    padding-right: 32px;
    padding-bottom: 14px;
    padding-left: 32px;
    gap: 10px;
    background-color: #4caf4f;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
/* style du footer*/ 
footer{
    width: 1440px;
    height: 554px;
    top: 2137.4px;
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-top: 42px;
}

.frame-footer{
    width: 1200px;
    height: 236px;
    border-radius: 8px;
    padding-top: 84px;
    padding-bottom: 84px;
    gap: 42px;
    align-self: center;
    text-align: center;
    background-color:#f5f7fa;

}
body.sombre .frame-footer{
    background-color:#263238;
}

.frame-footer h1{
    width: 887px;
    height: 152px;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    justify-self: center;
    color: #263238;
    margin: 0%;
}

body.sombre .frame-footer h1{
    color:#f5f7fa;
}

.button-footer{
    border:0px solid; 
    max-width: 154px;
    max-height: 52px;
    border-radius: 4px;
    padding-top: 14px;
    padding-right: 32px;
    padding-bottom: 14px;
    padding-left: 32px;
    gap: 8px;
    background-color: #4caf4f;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 32px;
}

.big-footer{
    padding-top: 64px;
    padding-right: 165px;
    padding-bottom: 64px;
    padding-left: 165px;
    gap: 8px;
    background-color: #263238;
    display: flex;
    justify-content: center;
}

.big-footer p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #f5f7fa;
    margin: 0%;
}

/*mobil-first*/
@media (max-width: 788px) {
    .container-header,
    .hero-section,
    .frame4,
    .unlock,
    .calendar
    {
        width: 668px;
        height: auto;
        padding-left: 50px;
        padding-right: 50px;
    }
    main,
    .home,
    .community,
    .comm,
    .corps,
    footer{
        width: 768px;
        height: auto;
    }
    .container-header{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .logo-header{
        align-self: flex-start;
    }
    .nav-header ul{
        justify-content: space-between;
        margin: 5px;
    }
    .login-header{
        align-self:flex-end;
    }
    .hero-section{
        flex-direction: column;
        gap: 52px;
    }
    .inside,
    .frame-unlock,
    .frame-calendar{
        width: auto;
        height: auto;
    }
    .unlock img,
    .calendar img{
        width: 40%;
        height: 40%;
        align-self: center;
    }
    .hero-section img{
        align-self: center;
    }
    .frame4{
        flex-direction:column;
        gap: 30px;
        align-items: center;
    }
    .frame-footer{
        width: 640px;
        height: auto;
    }
    .frame-footer h1{
        width: 474px;
        height: auto;
    }
}